<div>
	
	
	<h2 ng-if="optionid == -1">Add An Actvity</h2>
	<div optionoractivityname eventid="eventid" subevent="subevent"></div>
	<form  name="activityForm" novalidate>
		<formly-form model="eventActivities[0]" fields="activityFields" form="activityForm">
			<button id="saveAcitvityButton" type="button" ng-click="saveActivity(eventActivities[0]);" class="btn btn-primary" ng-disabled="activityForm.$invalid">Save Activity</button>
		</formly-form>
	</form>

 

	<div ng-if="subevent != -1">

		<h2>Activity Options</h2>
		<div ng-if="eventOptionGroups.length == 0"><h2>No Option Groups Configured For This Actvitiy</h2></div>
		<button ng-click="loadCarIntoOptionGroup(1, 29, eventid, subevent)" class="btn btn-primary">Load Car Options Into This Activity</button>
	<button ng-click="loadTrackExperienceOption(1, 29, eventid, subevent)" class="btn btn-primary">Load Track Experience Option</button><br>
		<div class="input-group col-centered custom-list-item " ng-repeat="optionGroup in eventOptionGroups">
			<a  class="form-control"  ui-sref="eventDetails.subeventsingleoptiongroup({eventid: eventid, optiongroup: optionGroup.optiongroupid, subevent : optionGroup.subevent})">
					{{optionGroup.group_name}}

			</a>
			 <span class="input-group-btn">
				<button ng-click="deleteOptiongroup(optionGroup.optiongroupid, $event);" type="button" class="btn btn-danger DeleteOptionGroupButtonActivity"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</span>
		</div>



		<br>
		<button id="AddOptionGroupButton"  class="btn btn-primary ng-scope" ui-sref="eventDetails.subeventsingleoptiongroup({eventid: eventid, optiongroup: -1, subevent : subevent})">Add An Option Group</button>
		<ui-view></ui-view>
	</div>
</div>