<div ng-controller="eventsListController" class="container-fluid">



		<div class="input-group col-centered custom-list-item " ng-repeat="event in events">
			<a  class="form-control"  ui-sref="eventDetails.eventinformation({eventid: event.TContent_ID})">
					{{event.ShortTitle}}
				
			</a>
			 <span class="input-group-btn">
				<button ng-click="deleteEvent(event.TContent_ID, $event);" type="button" class="btn btn-danger deleteEventButton"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</span>
		</div>
	
	<div class="col-md-12">
		<button id="AddEventButton" type="button" class="btn btn-primary ng-scope" ui-sref="eventDetails.eventinformation({eventid: -1})">Create Event</button>
	</div>

</div>