<div class="customreport-htmlclass">


		<ng-include src="'templates/customreport-list.html'"></ng-include>

		<button class="btn btn-primary" ng-click="addNewReportForm();">Add New Report</button>

		<div ng-show="addReportFormVisible">
			<h4>Main Event Options</h4>
			<label class="customReportLabel"  for="selected_activity{{activity.subevent}}" >
					<input id="selected_activity{{activity.subevent}}"  
							type="checkbox" 
							value="{{activity.subevent}}" checklist-value="activity.subevent"
							ng-click="checkSubs('0');"
							checklist-model="selectedActivities">
							Check All Main Event Options<br>
				</label>

			<div ng-repeat="mainEventOption in eventData.main_data | unique: 'optiongroupid'" class="reporting_subgroup">
				<label  class="customReportLabel" for="optiongroup{{mainEventOption.optiongroupid}}">
					<input type="checkbox" 
						class="checklist-0"
						value="{{mainEventOption.optiongroupid}}"
						checklist-value="mainEventOption.optiongroupid"
						checklist-model="selectedOptionGroups" 
						id="optiongroup{{mainEventOption.optiongroupid}}" >{{mainEventOption.group_name}}<br />
				</label>
			</div>

			<h4>Main Event Prices</h4>
				<label class="customReportLabel"  for="selected_price_all" >
					<input id="selected_price_all"  
							type="checkbox" 
							ng-click="checkPrices();"
							>
							Check All Prices<br>
				</label>

			<div ng-repeat="price in eventData.price_data | unique: 'price_id'" class="reporting_subgroup">
				<label class="customReportLabel"  for="selected_price{{price.price_id}}">
					<input type="checkbox" 
						class="priceChecklist"
						value="{{price.price_id}}"
						checklist-value="price.price_id"
						checklist-model="selectedPrices" id="selected_price{{price.price_id}}" >{{price.price_name}}<br />
				</label>
			</div>
			<h4>Activity & Options</h4>
			<div ng-repeat="activity in eventData.sub_data | unique: 'subevent'" class="reporting_subevent">
				<label class="customReportLabel"  for="selected_activity{{activity.subevent}}" >
					<input id="selected_activity{{activity.subevent}}"  
							type="checkbox" 
							value="{{activity.subevent}}" checklist-value="activity.subevent"
							ng-click="checkSubs(activity.subevent);"
							checklist-model="selectedActivities">
							{{activity.subevent_name}}<br>
				</label>
				<div class="activity_optiongroup reporting_optiongroup reporting_subgroup" ng-repeat="activityoption in (eventData.sub_data | filter: {subevent: activity.subevent} )| unique: 'optiongroupid'">
					<label class="customReportLabel"  for="optiongroup{{activityoption.optiongroupid}}">
						<input type="checkbox" 
							data-subevent="{{activity.subevent}}"
							class="checklist-{{activity.subevent}}"
							value="{{activityoption.optiongroupid}}"
							checklist-value="activityoption.optiongroupid"

							checklist-model="selectedOptionGroups" id="optiongroup{{activityoption.optiongroupid}}" >{{activityoption.group_name}}<br />
					</label>
				</div>
			</div>
			<h4>Narrow To Flags (select none to show all)</h4>
			<div ng-repeat="flag in eventData.flag_set" class="reporting_subevent">
				<label class="customReportLabel"  for="selected_flag{{$index}}" >
					<input id="selected_flag{{$index}}"  
							class="custom_flag"
							type="checkbox" 
							value="{{flag.flag}}" checklist-value="flag.flag"
							ng-click="checkFlags(flag.flag);"
							checklist-model="selectedFlags">
							{{flag.flag}}<br>
				</label>

			</div>


			<div class="row">
			<div  class="formly-field col-sm-12 formly-field-input" >
				<div class="form-group " >
				  <div>
				  <!-- ngIf: to.label --><label for="customreport_name" class="control-label " >
					Report Name
				  </label><!-- end ngIf: to.label -->
				  <input class="form-control"
					 ng-model="report_name" id="customreport_name" name="customreport_name" placeholder="Enter a name to save this report">
				</div>

				</div>
			</div>
			<div  class="formly-field col-sm-12 formly-field-input" >
				<div class="form-group " >
				  <div>
					<button class="btn btn-primary" ng-click="buildReport();">Save Report</button>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!---
		<pre>
			{{selectedOptionGroups}}
		</pre>

		<pre>
			{{selectedPrices}}
		</pre>

		<pre>
			{{selectedActivities}}
		</pre>
		--->
	
</div> 
