<div class="modal-header">
	<h3 class="modal-title">Registration Details</h3>
	<button class="btn btn-primary" ng-click="modalInstance.close('');">OK</button>
</div>
<div class="modal-body">
	<div class="flag_list">
		<div class="flag_title">Flags</div>
		<button class="flag btn" ng-repeat="flag in flags" ng-click="removeFlag(flag.flag, reg_id)">
			{{flag.flag}}
		</button>
	</div>
	<div id="{{useid}}">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="modalInstance.close('');">OK</button>
</div>


